<h1>Editing railsway station</h1>

<%= render "form", railsway_station: @railsway_station %>

<br>

<div>
  <%= link_to "Показать", @railsway_station %> |
  <%= link_to "Назад", railsway_stations_path %>
</div>
