<h1>Привет, Rails! =)</h1>

<h2>Это первая страница, которую я написал =) и да, она пустая почти...</h2>

<%= link_to "Список станций", railsway_stations_path %>

<h3></h3>

<%= link_to "Список поездов", trains_path %>